<footer class="footer" id='f'>
<div class="footer_content">
  <div class="logo_text">
    <img src="/logo_text.svg" class="logo_text_svg">
  </div>
  <p>
  Copyright © 2016 멋쟁이 사자처럼@UNIST
  All rights are reserved.
  </p>
  <ul>
    <a href="http://likelion.net" target="_blank">
      <img src="/likelion_mark.png" class="img-rounded" >
    </a>
    <a href="http://www.unist.ac.kr" target="_blank">
      <img src="/university_mark.jpg" class="img-rounded" >
    </a>
    <a href="http://www.facebook.com/likelion.UNIST" target="_blank">
      <img src="http://www.facebook.com/images/fb_icon_325x325.png" class="img-rounded" >
    </a>
  </ul>
</div>
</footer>
